{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block body %}

            <div class="row">
                <div class="span4 offset4">

                    {% for key, message in app.session.getFlashes() %}
                    <div class="{{ key }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                    {% endfor %}

                    <div style="margin: 0 auto; margin-top: 50%; border: 1px solid green; padding: 30px;">
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>                    
                
                </div>
            </div>

{% endblock %}