// Landscape phones and down
@media (max-width: 480px) { }

// Landscape phone to portrait tablet
@media (max-width: 768px) {  }

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 940px) {  }

// Large desktop
@media (min-width: 1200px) { }


a{
    color: @primaryDark;
    &:hover{
        color: @primaryDarker;
    }
}

.nav-pills{
    li a{
        #gradient .vertical-three-colors(lighten(#FBFBFB,30%), #FBFBFB, 10%, darken(#FBFBFB, 5%));
        border: 1px solid #AEAEAE;
        .border-radius(5px);
    }

    li.active a, li.active a:hover{
        #gradient .vertical-three-colors(lighten(@black, 60%), lighten(@black, 30%), 10%, lighten(@black, 10%));
        border: 1px solid #AEAEAE;
        color: @white;
    }

    a{
        color: @black;
    }
}

.bannerad{

    &.comments{
        &.top{
            margin-top: 15px;
            margin-bottom: 15px;

            text-align: center;
        }
    }

    &.column{
        &.top{
            margin-bottom: 15px;
            padding-bottom: 5px;
            border-bottom: 1px solid #eee;
        }
    }
}

.table td {
    vertical-align: middle;
}

.factsheet{
    .table th, .table td {
        border-top: 0;
    }

    margin-bottom: 15px;

    h1{
        margin-bottom: 10px;
    }

    table{
        width: 100%;

        th, td{
            line-height: 18px;
            padding: 4px 5px;
        }

        th{
            width: 20%;
            text-align: left;
        }
    }

    .table th{
        width: 40%;
    }

    .factbox{

        padding: 10px;
        .border-radius(7px);
        background-color: #FBFBFB;
        border: 1px solid #AEAEAE;
    }
}

// This makes Facebook comments adapt to full width (Responsive Hooray!)
#fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style] {
    width: 100% !important;
}