/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.rating2 {
  height: 36px;
  margin: 5px 0;
}
.rating2 ul {
  float: left;
  margin: 0;
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating2 li {
  display: inline;
}
.rating2 a, .rating2 span {
  float: left;
  padding: 0 14px;
  line-height: 36px;
  text-decoration: none;
  margin-right: 5px;
  width: 20px;
  text-align: center;
}
.rating2 a:hover, .rating2 .active a {
  background-color: #c7eefe;
}
.rating2 a {
  background-color: #FAFAFA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating2 .attribute span {
  padding: 0;
  width: 100px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}
.rating2 .totalrating span {
  width: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #0378a9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating2 .totalrating.secret span {
  background-color: #000000;
}
.rating2 .disabled a, .rating2 .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.rating2 .next a {
  border: 0;
}
.rating {
  height: 36px;
  margin: 5px 0;
}
.rating ul {
  float: left;
  margin: 0;
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating li {
  display: inline;
}
.rating a, .rating span {
  float: left;
  padding: 0 14px;
  line-height: 36px;
  text-decoration: none;
  margin-right: 5px;
}
.rating a:hover, .rating .active a {
  background-color: #c7eefe;
}
.rating a {
  background-color: #FAFAFA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating .attribute span {
  width: 125px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}
.rating .totalrating span {
  width: 35px;
  text-align: center;
  color: #ffffff;
  background-color: #0378a9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating .totalrating.secret span {
  background-color: #000000;
}
.rating .disabled a, .rating .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.rating .next a {
  border: 0;
}

@import "../bootstrap/lib/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "../bootstrap/lib/mixins.less";

// PAGINATION
// ----------

.rating2 {
    height: @baseline * 2;
    margin: 5px 0;
    ul {

        float: left;
        margin: 0;
        border: 0px;
        //border: 1px solid #eee;
        .border-radius(3px);
        //.box-shadow(0 1px 2px rgba(0,0,0,.05));
    }
    li {
        display: inline;
    }
    a, 
    span {
        float: left;
        padding: 0 14px;
        line-height: (@baseline * 2);
        text-decoration: none;
        margin-right: 5px;
        width: 20px;
        text-align: center;
        
    }
    a:hover,
    .active a {
        background-color: lighten(@blue, 45%);
    }

    a{
        background-color: #FAFAFA;
        .border-radius(3px);
    }

    .attribute{
        
        span{
            padding:0;
            width: 100px;
            border-bottom: 1px dotted rgba(0,0,0,.15);
        }
    }

    .totalrating{
        span{
            width: 20px;
            text-align: center;
            color: @white;
            background-color: darken(@blue, 10%);
            .border-radius(3px);


        }

        &.secret{
            span{
                background-color: darken(@blue, 50%);
            }
        }
    }

    .disabled a,
    .disabled a:hover {
        background-color: transparent;
        color: @grayLight;
    }
    .next a {
        border: 0;
    }
}

.rating {
    height: @baseline * 2;
    margin: 5px 0;
    ul {

        float: left;
        margin: 0;
        border: 0px;
        //border: 1px solid #eee;
        .border-radius(3px);
        //.box-shadow(0 1px 2px rgba(0,0,0,.05));
    }
    li {
        display: inline;
    }
    a, 
    span {
        float: left;
        padding: 0 14px;
        line-height: (@baseline * 2);
        text-decoration: none;
        margin-right: 5px;
        
    }
    a:hover,
    .active a {
        background-color: lighten(@blue, 45%);
    }

    a{
        background-color: #FAFAFA;
        .border-radius(3px);
    }

    .attribute{
        
        span{
            width: 125px;
            border-bottom: 1px dotted rgba(0,0,0,.15);
        }
    }

    .totalrating{
        span{
            width: 35px;
            text-align: center;
            color: @white;
            background-color: darken(@blue, 10%);
            .border-radius(3px);


        }

        &.secret{
            span{
                background-color: darken(@blue, 50%);
            }
        }
    }

    .disabled a,
    .disabled a:hover {
        background-color: transparent;
        color: @grayLight;
    }
    .next a {
        border: 0;
    }
}