.label-average {
  font-size: 13px;
  min-width: 20px;
  display: inline-block;
  text-align: center;
}
.statbox {
  padding: 5px;
  margin: 0 1px 0 1px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  background-color: #59b737;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px #000000, inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px #000000, inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px #000000, inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.statbox .number {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  padding: 0 10px 5px 10px;
  font-weight: bold;
  display: block;
  font-size: 18.2px;
}
.ratingbox {
  border-bottom: 1px solid #eeeeee;
  padding: 2px;
  cursor: pointer;
  *zoom: 1;
  /*
    .ratingbutton{
        margin-left: 3px;
        cursor: pointer;
        padding: 10px 0 10px 0;
        min-width: 35px;
        text-align: center;
        float: left;

        background-color: @grayLighter;

        &.active{
            background-color: @primaryColor;
        }

        &:hover{
            background-color: @grayLight;
        }
    }
    */

}
.ratingbox:before,
.ratingbox:after {
  display: table;
  content: "";
}
.ratingbox:after {
  clear: both;
}
.ratingbox .progress {
  margin-bottom: 5px;
  height: 8px;
}
.ratingbox:hover .description {
  font-weight: bold;
}
.ratingbox .description {
  padding: 5px 0 0 0;
}
.ratingbox .ratingbuttons {
  display: none;
  *zoom: 1;
}
.ratingbox .ratingbuttons:before,
.ratingbox .ratingbuttons:after {
  display: table;
  content: "";
}
.ratingbox .ratingbuttons:after {
  clear: both;
}
.ratingbox .ratingbuttons .ratingbutton {
  text-align: center;
  min-width: 30px;
  float: left;
  border: 1px solid #DDD;
  border-radius: 3px;
  text-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px #fff;
  padding: 10px 0 10px 0;
  white-space: nowrap;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ratingbox .ratingbuttons .ratingbutton.active {
  border-color: #b5e4a3;
  background-color: #f4fbf2;
}
.ratingbox .ratingbuttons .ratingbutton:hover {
  border-color: #75cc55;
  background-color: #f4fbf2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
}
.ratingbox .ratingbuttons .ratingbutton:active,
.ratingbox .ratingbuttons .ratingbutton:focus {
  border: 1px solid #AAA;
  border-bottom-color: #CCC;
  border-top-color: #999;
  box-shadow: inset 0 1px 2px #aaa;
  background: linear-gradient(top, #e6e6e6 0, #dcdcdc 100%);
}
.popbutton {
  border: 1px solid #DDD;
  border-radius: 3px;
  text-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px #fff;
  font: bold 11px Sans-Serif;
  padding: 6px 10px;
  white-space: nowrap;
  vertical-align: middle;
  color: #666;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.popbutton:hover {
  border-color: #999;
  background: linear-gradient(top, #ffffff 0, #e0e0e0 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
}
.popbutton:active,
.button:focus {
  border: 1px solid #AAA;
  border-bottom-color: #CCC;
  border-top-color: #999;
  box-shadow: inset 0 1px 2px #aaa;
  background: linear-gradient(top, #e6e6e6 0, #dcdcdc 100%);
}
.popbutton:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid #999;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin: 0 0 0 4px;
  position: relative;
  top: -1px;
}
.popbutton:hover:after {
  border-top-color: black;
}
ul.stats-tabs {
  *zoom: 1;
  list-style: none;
  margin: 10px 0;
}
ul.stats-tabs:before,
ul.stats-tabs:after {
  display: table;
  content: "";
}
ul.stats-tabs:after {
  clear: both;
}
ul.stats-tabs li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
ul.stats-tabs li span {
  display: block;
  margin-top: 2px;
  font-size: 13px;
  font-weight: normal;
}
ul.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.rating-button {
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 3px;
  text-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px #fff;
  padding: 10px 0 10px 0;
  white-space: nowrap;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.rating-button.active {
  border-color: #b5e4a3;
  background-color: #75cc55;
  color: #ffffff;
}
.rating-button:hover {
  border-color: #59b737;
  background-color: #95d87c;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 0 3px #ffffff;
}
.rating-button:active,
.rating-button:focus {
  border: 1px solid #AAA;
  border-bottom-color: #CCC;
  border-top-color: #999;
  box-shadow: inset 0 1px 2px #aaa;
  background: linear-gradient(top, #e6e6e6 0, #dcdcdc 100%);
}
.rating-box {
  cursor: pointer;
  border-bottom: 1px solid #eeeeee;
  *zoom: 1;
}
.rating-box:before,
.rating-box:after {
  display: table;
  content: "";
}
.rating-box:after {
  clear: both;
}
.rating-box .attribute-name,
.rating-box .attribute-rating,
.rating-box .attribute-progress {
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
}
.rating-box .attribute-name,
.rating-box .attribute-rating {
  line-height: 21px;
}
.rating-box .attribute-name {
  width: 60%;
}
.rating-box .attribute-rating {
  width: 10%;
  display: none;
}
.rating-box .attribute-progress {
  width: 40%;
}
.rating-box .attribute-description {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.rating-box .progress {
  text-align: center;
  position: relative;
  height: 21px;
  margin-bottom: 0;
}
.rating-box .progress .text {
  line-height: 21px;
  font-weight: bold;
  display: none;
  text-align: center;
}
.rating-box .progress .bar {
  height: 21px;
}
.rating-box:hover .attribute-name {
  font-weight: bold;
}
.rating-box:hover .progress .text {
  display: block;
  position: absolute;
  left: 10px;
}
.rating-box:hover .progress .bar {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.rating-box .rating-button-row {
  margin-top: 5px;
}
.progress-high .bar {
  background-color: #62af4f;
  background-image: -moz-linear-gradient(top, #75cc55, #448545);
  background-image: -ms-linear-gradient(top, #75cc55, #448545);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75cc55), to(#448545));
  background-image: -webkit-linear-gradient(top, #75cc55, #448545);
  background-image: -o-linear-gradient(top, #75cc55, #448545);
  background-image: linear-gradient(top, #75cc55, #448545);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75cc55', endColorstr='#448545', GradientType=0);
}
.progress-medium .bar {
  background-color: #f69306;
  background-image: -moz-linear-gradient(top, #f89406, #f39106);
  background-image: -ms-linear-gradient(top, #f89406, #f39106);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#f39106));
  background-image: -webkit-linear-gradient(top, #f89406, #f39106);
  background-image: -o-linear-gradient(top, #f89406, #f39106);
  background-image: linear-gradient(top, #f89406, #f39106);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89406', endColorstr='#f39106', GradientType=0);
}
.progress-low .bar {
  background-color: #b84947;
  background-image: -moz-linear-gradient(top, #b94a48, #b64846);
  background-image: -ms-linear-gradient(top, #b94a48, #b64846);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b94a48), to(#b64846));
  background-image: -webkit-linear-gradient(top, #b94a48, #b64846);
  background-image: -o-linear-gradient(top, #b94a48, #b64846);
  background-image: linear-gradient(top, #b94a48, #b64846);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b94a48', endColorstr='#b64846', GradientType=0);
}
.rating-button-row {
  *zoom: 1;
}
.rating-button-row:before,
.rating-button-row:after {
  display: table;
  content: "";
}
.rating-button-row:after {
  clear: both;
}
.rating-button-row .rating-button-container {
  width: 10%;
  padding: 0;
  float: left;
  text-align: center;
}
.rating-button-row .rating-button-container.condensed .rating-button {
  padding: 2px 0 2px 0;
}
@media (max-width: 480px) {
  
}
@media (max-width: 768px) {
  
}
@media (min-width: 768px) and (max-width: 940px) {
  
}
@media (min-width: 1200px) {
  
}
a {
  color: #3d7c25;
}
a:hover {
  color: #295519;
}
.nav-pills li.active a,
.nav-pills li.active a:hover {
  background-color: #75cc55;
}
