/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.rating {
  height: 36px;
  margin: 5px 0;
}
.rating ul {
  float: left;
  margin: 0;
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating li {
  display: inline;
}
.rating a, .rating span {
  float: left;
  padding: 0 14px;
  line-height: 36px;
  text-decoration: none;
  margin-right: 5px;
}
.rating a:hover, .rating .active a {
  background-color: #c7eefe;
}
.rating a {
  background-color: #FAFAFA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating .attribute span {
  width: 125px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}
.rating .totalrating span {
  width: 35px;
  text-align: center;
  color: #ffffff;
  background-color: #62cffc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rating .disabled a, .rating .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.rating .next a {
  border: 0;
}
