{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block header %}

<div class="frontpage">    
    <header class="jumbotron masthead">
      <div class="inner">
        <h1>Actual<em>Skill</em></h1>
        <p>Don't be a player hater - be a player rater!</p>
        
        <p class="actions">
          <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-large">Login to rate</a>
          <a href="{{ path('fos_user_registration_register') }}" class="btn btn-large">Join actualskill.com</a>
        </p>
      </div>
    </header>
</div> 
{% endblock %}

{% block body %}

<div class="frontpage">
    <div class="row">
        <div class="span4">
            <h2>Express your opinion</h2>
            <p>Football is emotions. It is success and failure. It is heroes and passion. But perhaps most of all, football is opinions.</p>
            <p><em>We have had enough of so-called experts. You're the expert! Your opinion matters.</em></p>
        </div>
        <div class="span4">
            <h2>Socialize and debate</h2>
            <p>Who is the better player. What was the best goal. Which team plays the best football. We all have different views on football.</p>
            <p><em>Connect with friends and foes and bring your best argument to the table.</em></p>            
        </div>
        <div class="span4"> 
            <h2>Under development</h2>           
            <p>ActualSkill.com is currently under development. Please use the feedback button to report bugs or to submit comments and ideas for the future development.</p>
        </div>
    </div>
</div> 

{% endblock %}