{% extends 'ActualSkillSiteBundle::base.html.twig' %}

{% block body %}

<ul>
{% for player in players %}
    <li><a href="{{ path('player_show', { 'id': player.slug }) }}">{{ player.fullname }}</a></li>
{% endfor %}
</ul>
{% endblock %}